
.logo{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.nav a{
    color: #f1f1f1;
    font-size: 25px;
    font-weight: 600;
    line-height: 100px;
    letter-spacing: 8px;
    margin-left: 10px;
}   
#close:focus{
    box-shadow: none;
    outline: none
}
#menu:focus{
    box-shadow: none;
    outline: none;
    border:none;
}
.name-1{
    height:70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    
}
.name-1 h1{
    font-size: 130px;
    letter-spacing: 10px;
}
.name-1 P{
    font-size: 10px;
    letter-spacing: 5px;
    position:absolute;
    background-color: sandybrown;
    bottom: 40px;
    z-index: 1;
}
.ani{
    width: 2px;
    height: 100px;
    position: absolute;
    background-color: rgb(255, 0, 0);
    bottom:80px;
    animation: scroll 2s ease-out infinite;
}
@keyframes scroll{
    0%{
        transform: translateY(0%);
        bottom: 20px;
        
    }
    40%{
        transform: translateY(50%);
        
    }
    50%{
        transform: translateY(100%);
        background-color: transparent;  

    }
    100%{
        transform: translateY(0%);
        background-color: transparent;
    }
}

@keyframes progressAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

 .progress-bar {
    animation: progressAnimation 2s ease-in-out ;
}
@media (min-width: 768px) { 
    #navigation-bar {
        width: 50% 
    }
}

@media (max-width: 767.98px) {
    #navigation-bar {
        width: 100% 
    }
}
@media(max-width:576px){
    .name-1 h1{
        font-size: 50px;
    }
}
